:root{
    --dark-blue: #003459;
    --dark-blue-primary: #0078CE;
    --dark-blue-secondary: #00528C;
    --dark-blue-tertiary: #012A48;

    --mon-yellow: #f7dba7;
    --mon-yellow-primary: #FCEED4;
    --mon-yellow-secondary: #F2D091;
    --mon-yellow-tertiary: #EDC77E;
    --fondo-neutral-color: #fdfdfd;
    
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
#background{
    background-color: var(--mon-yellow-primary);
    font-family: 'Inter', sans-serif;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    overflow: hidden;
}
.back-1{
    background-color: var(--mon-yellow-secondary);
    width: 200px;
    height: 240px;
    border-radius: 70px;
    position: absolute;
    z-index: -1;
    top: -158px;
    left: -7px;
    transform: rotate(38deg);
}
.back-2{
    background-color: var(--mon-yellow-secondary);
    width: 75px;
    height: 75px;
    border-radius: 25px;
    position: absolute;
    z-index: -1;
    top: 192px;
    left: -2px;
    transform: rotate(25deg);
}
.back-3{
    background-color: var(--mon-yellow);
    width: 20px;
    height: 20px;
    border-radius: 6px;
    position: absolute;
    z-index: -1;
    top: 192px;
    left: 558px;
    transform: rotate(38deg);
}
.back-4{
    background-color: var(--mon-yellow);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    z-index: -2;
    top: 348px;
    left: 545px;
    transform: rotate(68deg);
}
.back-5{
    background-color: var(--dark-blue-tertiary);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    top: 360px;
    left: 545px;
    transform: rotate(38deg);
}
.back-6{
    background-color: var(--mon-yellow);
    width: 400px;
    height: 400px;
    border-radius: 121px;
    position: absolute;
    z-index: -1;
    top: 600px; 
    left: 200px;
    transform: rotate(53deg);
}
.back-7{
    background-color: var(--dark-blue);
    width: 500px;
    height: 500px;
    border-radius: 111px;
    position: absolute;
    z-index: -2;
    top: 324px;
    left: 699px;
    transform: rotate(10deg);
    
}
.back-8{
    background-color: var(--mon-yellow-secondary);
    width: 590px;
    height: 624px;
    border-radius: 111px;
    position: absolute;
    z-index: -1;
    top: 308px;
    left: 750px;
    transform: rotate(30deg);
    
}

.page{
    z-index: 1;
    margin-left: 50px;
    margin-right: 50px;
}
#nav{
    font-size: 25px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
}
.nav-right{
    display: flex;
}
.nav-right button{
    margin-left: 12px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--dark-blue);
    color: var(--mon-yellow-primary);
    border-radius: 50px;
    position: relative;
}
#nav ul {
    display: flex;
    list-style: none;
    margin-left: 20px;
}
#nav ul li a{
    margin: 10px;
    color: var(--dark-blue);
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
}
#nav ul li a:hover{
    border: 1px solid var(--mon-yellow-tertiary);
    background-color: var(--mon-yellow-tertiary);
}
#search{
    background-color: var(--fondo-neutral-color);
    border: 1.5px solid black;
    border-radius: 30px;
    
}
#search img{
    width: 20px;
    margin: 0;
    position: relative;
    left: 9px;
    top: 4px;
}
#search input{
    border-style: none;
    
    border-radius: 20px;
    position: relative;
    top: -3px;
    padding: 8px;
    outline: none;
}

section{
    
    display: flex;
    justify-content: space-between;
}
#container{
    margin-top: 150px;
    margin-left: 20px;
    
}
#container h1{
    font-size: 70px;
    font-weight: 900;
}
#container h2{
    font-size: 50px;
    margin-bottom: 24px;
}
section img{
    height: 520px;
    width: 400px;
    margin: 60px;
    
}
#container button{
    margin: 24px;
}
.second-button{
    background-color: var(--dark-blue);
    color: var(--mon-yellow-primary);
    border-radius: 50px;
    padding: 6px 30px;
}
.first-button{
    border-radius: 50px;
    padding: 6px 30px;
    color: var(--dark-blue);
    background-color: var(--mon-yellow-primary);
}
.construction{
    z-index: 1;
    
}
.construction h1 {
    display: flex;
    justify-content: center;
    padding-top: 180px;
    padding-bottom: 30px;
}
.construction h2{
    display: flex;
    margin-left: 38%;
    justify-content: center;
    border: var(--mon-yellow) 1px solid;
    border-radius: 20px;
    width: 300px;
    background-color: var(--dark-blue-tertiary);
}
.construction h2 b a{
    color: var(--mon-yellow-primary);
}

